body::before {
  display: block;
  content: '';
  height: 60px;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

.images {
  height: 35%;
  width: 35%;
}

.more {
  display: none;
  transition: .25s ease;
}

.btn:hover {
  background-color: #636362;
  color: aliceblue;
}


